<div class="form-container">
    <h2>Giriş Yap</h2>

    <input type="email" class="form-control" placeholder="Email" />
    <input type="password" class="form-control" placeholder="Şifre" />

    <a href="/Home/Index" class="btn-primary" style="display:block; text-align:center;">
        Giriş Yap
    </a>


    <p style="text-align:center; margin-top:10px;">
        Hesabın yok mu? <a href="/Account/Register">Kayıt Ol</a>
    </p>
</div>

