<div class="form-container">
    <h2>Kayıt Ol</h2>

    <input type="text" class="form-control" placeholder="Ad Soyad" />
    <input type="email" class="form-control" placeholder="Email" />
    <input type="password" class="form-control" placeholder="Şifre" />

    <button class="btn-primary">Kayıt Ol</button>

    <p style="text-align:center; margin-top:10px;">
        Zaten hesabın var mı? <a href="/Account/Login">Giriş Yap</a>
    </p>
</div>
