<div class="form-container">
    <h2>EduVision</h2>
    <p style="text-align:center; font-size:18px; color:#333;">
        Hoş Geldiniz! 👋
        Öğrenmeye başlamak için giriş yapın.
    </p>

    <a href="/Account/Login" class="btn btn-primary">Giriş Yap</a>
    <br /><br />
    <a href="/Account/Register" class="btn btn-primary" style="background:#6c757d;">Kayıt Ol</a>
</div>
